<p>Aizņemtās vietas: <code>{{aiznemtasVietas}}</code></p>
<p>Kopējā ietilpība: <code>{{kopejaIetilpiba}}</code></p>

<div class="alert alert-warning" *ngIf="brivasVietas===0">Sorry, autobuss ir pilns</div>
<div class="alert alert-info" *ngIf="brivasVietas>0">Autobusā ir {{brivasVietas}} vietas</div>
<ul>
  <li *ngFor="let person of peopleInAutobusa" class="d-flex">
    <app-person-name name="{{person.name}}" surname="{{person.surname}}"></app-person-name>
    <button (click)="izkapaCilveks(person)">izkāpa</button>
  </li>
</ul>

<hr>
