<h2>Pietura</h2>
<app-pietura-statistika [pieturasIetilpiba]="pieturasIetilpiba" [peopleInPietura]="peopleInPietura.length"></app-pietura-statistika>
<app-pietura-cilveku-saraksts
  (cilveksGribIekapt)="cilveksGribIekaptAutobusa.emit($event)"
  (cilveksGribIetProm)="aizgajaProm($event)"
  [peopleInPietura]="peopleInPietura"></app-pietura-cilveku-saraksts>
<input class="form-control" (keyup.enter)="pienacaCilveks($event)">
<!--<div class="text-danger" *ngIf="edgarsIrAtnacis">Edgars ir Atnacis!!!</div>-->
